@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes fadeOut {
  0%, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 65% {
    opacity: 1
  } 
  100% {
    opacity: 0;
  }
}

.flashing-text {
  animation: flash 1s infinite;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@layer components {
  .btn {
    @apply hover:no-underline bg-purple-accent hover:bg-purple-accent-hover tracking-wider w-full text-center text-default-text-white font-bold cursor-pointer uppercase px-4 py-2 rounded-md transition-colors block;
  }
}
